@import "tailwindcss";

@theme {
  --color-burgundy: #6B132C;
  --color-ivory: #FFF8F0;
  --color-gold: #C1A75B;
  --font-playfair: "Playfair Display", serif;
  --font-montserrat: "Montserrat", sans-serif;
}

html, body {
  background-color: var(--color-ivory);
  color: var(--color-burgundy);
  font-family: var(--font-montserrat);
}

h1, h2, h3 {
  font-family: var(--font-playfair);
}